@mixin border-button-marquee {
  padding: 17px 65px;
  border: 2px solid $white;
  color: $white;
  text-transform: uppercase;
  font-size: 36px;
  @include transition-all;
    &:hover {
      background: $white;
      color: $black;
      @include transition-all;
    }
}

@mixin border-button-about {
  padding: 10px 55px;
  font-family: "mohavesemibold";
  border: 2px solid $about-brown;
  color: $about-brown;
  text-transform: uppercase;
  font-size: 36px;
  @include transition-all;
    &:hover {
      background: $about-brown;
      color: $white;
      @include transition-all;
    }
}

@mixin transition-all {
  -moz-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

@mixin background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
